.border-left-dark{
    border-width: 0 4px 0px 0px;
}

.border-left-primary{
    border-width: 0 4px 0px 0px;
}

.border-left-success{

    border-width: 0 4px 0px 0px;
}

.border-left-warning {

    border-width: 0 4px 0px 0px;
}